.red{
    background-color: red;
}
.txt-color{
    color: black;
}
.yellow{
    background-color: yellow;
}
.txt-white{
    color:white;
}
.body_night{
    background-color: black;
}
.body_day{
    background-color: white;
}